*{
    border:  black solid 3px;
    padding: .5em;
}

.topic-imgs{

}

.main-redirect{
    margin: 0;
    cursor: pointer;
    a
}

.navbar{
    padding-bottom: 8px;
}

body{
    background-color: #0c0f14;
}